# Import

In [14]:

import numpy as np
import pandas as pd
import mlflow
import warnings
import pickle
import matplotlib.pyplot as plt
import sys, os
from matplotlib.gridspec import GridSpec
from matplotlib import ticker
from statsmodels.tsa.stattools import adfuller, acf, pacf
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

In [15]:
# sns.set()
%matplotlib inline
warnings.filterwarnings("ignore")

In [17]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from file_handler import FileHandler

# Preprocessing

In [18]:
file_handler = FileHandler()
train_sales = file_handler.read_csv("../data/train.csv")

In [19]:
data = train_sales.groupby("Date").agg({"Sales": "mean"})
data

                  Sales
Date
2013-01-01    87.284560
2013-01-02  6233.030493
2013-01-03  5693.112108
2013-01-04  5954.218834
2013-01-05  5337.751570
...                 ...
2015-07-27  9602.952466
2015-07-28  8174.953363
2015-07-29  7623.284305
2015-07-30  7891.348879
2015-07-31  9067.033184

[942 rows x 1 columns]